@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');

:root {
    --container-width : clamp(300px, 60vw, 60vh);
    --container-height : clamp(450px, 90vw, 90vh);
    --button-height: calc(var(--container-height) * 0.52 / 6);
    --button-margin: calc(var(--button-height)/ 6);
    --button-width: calc(calc(calc(var(--container-width) * 0.9) - calc(var(--button-margin)*5)) / 4);
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    align-content: center;
    justify-items: center;
    background: #000000ba;
}

#container {
    background: #e0e0e0;
    box-sizing: border-box;
    border-radius: min(2vh, 2vw);
    width: var(--container-width);
    height: var(--container-height);
    box-shadow: inset -2px -2px 16px 0px #5a5a5a, 12px 15px 20px 5px;
    padding: calc(var(--container-height)*0.05) calc(var(--container-width) * 0.05);
}

#brand {
    line-height: 1;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px;
    font-size: calc(var(--container-height)*0.04);
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    margin-bottom: calc(var(--container-height)*0.06);
}

#screen {
    display: flex;
    box-sizing: border-box;
    font-family: monospace;
    border-radius: min(2vh, 2vw);
    box-shadow: inset 0 0 20px 5px #00c200eb;
    height: calc(var(--container-height) * 0.22);
    margin-bottom: calc(var(--container-height)*0.06);
    border: calc(var(--container-height) * 0.05) solid transparent;
    background: linear-gradient(green) padding-box, radial-gradient(transparent, #cfcfcf 20%, #959595 100%) border-box;
}

#values {
    flex: 1;
    text-align: end;
    line-height: 0.5;
    align-content: center;
    font-size: calc(var(--container-height) * 0.14);
}

ul {
    list-style: none;
}

#selectedOperator {
    margin: 1%;
    display: flex;
    line-height: 0.8;
    font-weight: bold;
    color: #00000040;
    flex-direction: column;
    justify-content: space-around;
}

#keys {
    display: flex;
    background: #d7d6d6;
    box-shadow: inset 1px 1px 2px 1px;
    height: calc(var(--container-height) * 0.52);
}

button {
    font-weight: bold;
    border-radius: 1vh;
    font-family: monospace;
    font-size: min(4vh, 4vw);
    width: var(--button-width);
    box-shadow: 1px 1px 2px 0px;
    height: var(--button-height);
    margin: var(--button-margin) 0 0 var(--button-margin);
}

.operand, #operandSide li {
    display: flex;
}

#AC, #longer, #k\+ {
    flex: auto;
}

#operatorSide, #longer {
    display: flex;
    flex-direction: column;
}

#k\+ {
    margin-bottom: var(--button-margin);
}